{% extends "/base.html" %}

{% block title %}KaggleWorld{% endblock %}
{% block content %}
 <!-- Sidebar -->
 <aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <span class="material-icons-outlined">insert_chart</span>KW
      </div>
      <div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
      </div>
      <span class="material-icons-outlined">dashboard</span>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item">
          <a href="#">
          <span class="material-icons-outlined">dashboard</span>Dashboard
          </a>
      </li>
      <li class="sidebar-list-item">
          <a href="#">
          <span class="material-icons-outlined">domain_add</span> OLAP Query
          <!-- <span class="material-symbols-outlined">expand_less</span> -->
          </a> 
      </li>
      <li class="sidebar-list-item">
        <span class="material-icons-outlined">settings</span> Settings
      </li>
    </ul>

  </aside>  
  <!-- End Sidebar -->
  

{% endblock %}