{% extends "/base.html" %}

{% block title %}KaggleWorld{% endblock %}


{% block content %}

  
  <!-- Main -->
       
  <main class="main-container grid-container">   
    <div class="main-title">
      <h1>Dashboard</h1>

      <hr>

      <div class="row">
        <div class="col-lg-4">
          <div class="my-5">
            <h1>Top Visualizatioins</h1>
          </div>
          
        </div>
        <div class="col-lg-4">
          <div class="my-5">
            <h1>Datasets</h1>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="my-5">
            <h1>Published Notebooks</h1>
          </div>
        </div>
      </div>

      {% block dashboard_content %}
      <!-- Child templates will insert their content here -->
      {% endblock %}
    </div>
    <!-- Sidebar -->
    {% include '/sidebar.html' %}
    <!-- End Sidebar -->

    
  </main>

    

  <!-- End Main -->
  

{% endblock %}